# Olypics Data Analysis
## CS 176 Project

By: Srushti Vaidyanathan (vaidyan4@purdue.edu), Paige Burke (burke231@purdue.edu), Brooklyn Fugate (fugate11@purdue.edu)

## Set Up

In [70]:
# importing pandas as pd, matplotlib as plt, and numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# read datasets from their csv files to the dataframe
athletes_df = pd.read_csv('olympic_atheletes_history_biometrics_data.csv')
summer_df = pd.read_csv('summer_olympics_medals_data.csv')
winter_df = pd.read_csv('winter_olympics_medals_data.csv')

In [71]:
athletes_df.head(5)

,ID,ATHLETE_NAME,SEX,AGE,HEIGHT,WEIGHT,NOC,TEAM,Unnamed: 8
0,1,A Dijiang,M,24.0,180.0,80.0,CHN,China,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,CHN,China,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,DEN,Denmark,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,DEN,Denmark,NaN
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,NED,Netherlands,NaN

In [72]:
summer_df.head(5)

,Year,Name,Games,City,Sport,Event,Medal
0,1896,Aristidis Akratopoulos,1896 Summer,Athina,Tennis,Tennis Men's Singles,NaN
1,1896,Aristidis Akratopoulos,1896 Summer,Athina,Tennis,Tennis Men's Doubles,NaN
2,1896,Konstantinos Akratopoulos,1896 Summer,Athina,Tennis,Tennis Men's Singles,NaN
3,1896,Konstantinos Akratopoulos,1896 Summer,Athina,Tennis,Tennis Men's Doubles,NaN
4,1896,Anastasios Andreou,1896 Summer,Athina,Athletics,Athletics Men's 110 metres Hurdles,NaN

In [73]:
winter_df.head(5)

,Year,Name,Games,City,Sport,Event,Medal
0,1924,Clarence John Abel,1924 Winter,Chamonix,Ice Hockey,Ice Hockey Men's Ice Hockey,Silver
1,1924,Josef Adolf,1924 Winter,Chamonix,Nordic Combined,Nordic Combined Men's Individual,NaN
2,1924,Xavier Affentranger,1924 Winter,Chamonix,Ski Jumping,"Ski Jumping Men's Normal Hill, Individual",NaN
3,1924,Xavier Affentranger,1924 Winter,Chamonix,Cross Country Skiing,Cross Country Skiing Men's 18 kilometres,NaN
4,1924,Xavier Affentranger,1924 Winter,Chamonix,Nordic Combined,Nordic Combined Men's Individual,NaN

## Cleaning

A MAJORITY OF THE CLEANING IS ALSO DONE THROUGHOUT THE OTHER STEPS

In [74]:
# deleting this column as it was empty and was just an extra comma in the csv
del athletes_df['Unnamed: 8']

In [75]:
# standardizing to date time format for all the dfs
winter_df['Year'] = pd.to_datetime(winter_df['Year'], format='%Y')
summer_df['Year'] = pd.to_datetime(summer_df['Year'], format='%Y')

winter_df['Year'] = winter_df['Year'].dt.strftime('%Y')
summer_df['Year'] = summer_df['Year'].dt.strftime('%Y')

In [76]:

# drops any duplicate values from the dfs and only keeps the first value
winter_df = winter_df.drop_duplicates(keep='first')
summer_df = summer_df.drop_duplicates(keep='first')
athletes_df = athletes_df.drop_duplicates(keep='first')

Markdown notes and sentences and analysis written here.

## Filtering

In [ ]:
# code here

Markdown notes and sentences and analysis written here.

## Sorting

In [ ]:
# code here

Markdown notes and sentences and analysis written here.

## Merging

In [77]:
# merging the winter_df with summer_df
all_seasons_df = pd.merge(winter_df, summer_df, on=['Year', 'Name', 'Games', 'City', 'Sport', 'Event', 'Medal'], how='outer')

all_seasons_df.head(5)

,Year,Name,Games,City,Sport,Event,Medal
0,1924,Clarence John Abel,1924 Winter,Chamonix,Ice Hockey,Ice Hockey Men's Ice Hockey,Silver
1,1924,Josef Adolf,1924 Winter,Chamonix,Nordic Combined,Nordic Combined Men's Individual,NaN
2,1924,Xavier Affentranger,1924 Winter,Chamonix,Ski Jumping,"Ski Jumping Men's Normal Hill, Individual",NaN
3,1924,Xavier Affentranger,1924 Winter,Chamonix,Cross Country Skiing,Cross Country Skiing Men's 18 kilometres,NaN
4,1924,Xavier Affentranger,1924 Winter,Chamonix,Nordic Combined,Nordic Combined Men's Individual,NaN

In [78]:
# Merging all three data sets into a total data set
# Cleaning height, weight, and age of total_df by stack and sorting
# by gender and sport, then imputing, to get similar data to fill in the NA values

# first merges the athletes df with winter df
total_df = pd.merge(athletes_df, all_seasons_df, left_on='ATHLETE_NAME', right_on='Name')
total_df = total_df.drop('Name', axis=1)

Markdown notes and sentences and analysis written here.

## Visualizations

In [ ]:
# code here

Markdown notes and sentences and analysis written here.

## Pivoting and Stacking

In [ ]:
# code here

Markdown notes and sentences and analysis written here.